.test-one{
    // background-color: lightblue;
    padding: 20px;
    &-inputs{
        display: flex;
        justify-content: space-between;
        width: 800px;
        margin: 20px auto 0;
        input{
            height: 35px;
            background-color: #fff;
            outline: none;
            border-radius: 5px;
            text-indent: 5px;
            border: none;
        }
    }
    &-button{
        background-color:lightcoral;
        width:150px;
        height: 40px;
        border-radius:5px;
        line-height: 40px;
        margin: 20px auto;
        color: #fff;
        cursor: pointer;
        user-select: none;
    }
}
.test-two{
    position: relative;
    &-colors{
        display: flex;
        flex-wrap: wrap;
        width: 8 * 102px;
        margin: 0 auto;
        margin-bottom: 10px;
        &-box{
            width: 100px;
            height: 100px;
            margin: 1px;
            border-radius: 2px;
            line-height: 100px;
            color: #fff;
        }
    }
}
.love{
    position: absolute;
    transform: rotate(45deg);
    left: 200px;
    &-left{
        position: absolute;
        top: 0;
        left: 100px;
        height: 0px;
        width: 0px;
        border: 100px solid red;
        border-radius: 100px;
    }
    &-right{
        position: absolute;
        top: 100px;
        left: 0;
        height: 0px;
        width: 0px;
        border: 100px solid red;
        border-radius: 100px;
    }
    &-bottom{
        position: absolute;
        top: 100px;
        left: 100px;
        height: 0px;
        width: 0px;
        border: 100px solid red;
        &-text{
            transform: rotate(-45deg);
        }
    }
}
.test-three{
    button{
        display: block;
        width: 100px;
        background-color: cornflowerblue;
        height: 40px;
        margin: 0 auto;
    }
}
.tab{
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid #e4e7ed;
    overflow-x: auto;
    overflow-y: hidden;
    &-item{
        padding: 0 20px;
        height: 40px;
        box-sizing: border-box;
        line-height: 40px;
        display: inline-block;
        list-style: none;
        font-size: 14px;
        font-weight: 500;
        color: #303133;
        position: relative;
        border-right:1px solid #e4e7ed;
        margin-bottom: -1px;
        cursor: pointer;
        user-select: none;
        white-space: nowrap;
    }
    .active{
        color: #409eff;
        border-bottom: 1px solid #fff;
    }
}
.test-four{
    font-weight: bold;
    font-size: 22px;
    width: 200px;
    height: 60px;
    background-color: lightblue;
    line-height: 60px;
    position: absolute;
}